.app-header {
    @extend %pos;
    bottom: auto;
    z-index: 999;

    .logo {
        margin-bottom: 40px;
    }

    &--secondary {
        height: 85px;
        background: rgba(#ebebeb, .3);

        &.is-fixed {
            position: fixed;
        }
    }
}

.logo {
    display: block;

    &__title {
        font-weight: normal;
        line-height: 1;
    }

    &--prev {
        position: absolute;
        top: 50%;
        left: 160px;
        transform: translateY(-50%);

        @media (max-width: map_get($grid-breakpoints, sm)) {
            display: none;
        }

        .logo__title {
            font-size: 30px;
        }

        .logo__description {
            font-size: 10px;
            color: #333;
        }
    }
}

.header-social {
    position: relative;

    &-list {
        width: auto;

        &-item {
            justify-content: center;
            align-items: center;
            width: 75px;
            height: 75px;
            background: #fff;
            transition: .5s linear;
            text-align: center;
            display: none;
            cursor: pointer;

            svg {
                fill: #333333;
                transition: .5s;
            }

            &.active {
                display: flex;
            }

            &--share {

                &:hover {
                    background: $primary;
                }
            }

            &--facebook {

                &:hover {
                    background: #4154a8;
                }
            }

            &--instagram {

                &:hover {
                    background: #BB2BA2;
                }
            }

            &--youtube {

                &:hover {
                    background: #c00;
                }
            }

            &:hover {

                svg {
                    fill: #fff;
                }
            }
        }
    }
}