.contacts-page-list {
    margin-bottom: 40px;

    &-item {
        margin-bottom: 10px;
        font-size: 18px;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            font-size: 14px;
        }
    }
}